<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="keywords" content="">
	<%- css('main') %>
	<link rel="shortcut icon" href="<%= theme.favicon %>" title="Favicon">
	<title><%= config.title %></title>
</head>
<body>
<%- body %>
</body>
</html>
