<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="keywords" content="胡方运,小猿大圣,前端,个人博客,Youthink,Web" />
	<meta name="description" content="小猿大圣的个人博客，胡方运的博客" />
	<meta http-equiv="x-dns-prefetch-control" content="on">
	<link rel="dns-prefetch" href="http://7oxgmt.com1.z0.glb.clouddn.com">
	<link rel="dns-prefetch" href="http://7xrdfc.com1.z0.glb.clouddn.com">
	<link rel="dns-prefetch" href="http://hm.baidu.com/">
  <%- partial('_partial/css.ejs') %>
	<link rel="shortcut icon" href="<%= theme.favicon %>" title="Favicon">
	<title><%= page.title ? page.title : config.title %></title>
</head>
<body>
<%- body %>
</body>
</html>
