*{
	margin:0;
	padding:0;
}
body{
	  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.clear{
	clear:both;
}
.left{
	float:left;
}
.main{
	width:800px;
}
.left-aside{
	width: 256px;
	background-color: #fff;
	position: fixed;
    top: 0;
    bottom: 0;
    padding: 50px 30px 80px;
    border-right: 1px solid #d9d9d9;
    box-shadow: -1px 1px 6px rgba(0,0,0,0.35);
   
}
.left-aside {
	text-align: center;
}
.left-aside h2{
	margin:14px 0 50px;
}
.left-aside .face-img img{
	border-radius: 50%;
	height:150px;
	width:150px;
}
.sns{
	margin-top:40px;
}
.sns li img{
	width:31px;
}
.sns li{
	float:left;
	margin:60px 10px 20px;
}
.right-aside{
	margin-left:318px;
}
.right-aside .right-nav{
	padding-left: 30px;
	position:fixed;
	top:0;
	width:83%;
	border-bottom: 1px solid #d9d9d9;
    box-shadow: -1px 1px 6px rgba(0,0,0,0.35);
    background-color: #fff;
}
.right-aside .right-nav li{
	float:left;
	padding:8px 17px;
}
.right-aside .right-nav li a{
	color:#009800;
	font-size:18px;
	font-weight: bold;
}
.input-search{
	float:right;
	margin:8px 78px 0  0;
	border-radius: 2em;
	padding:7px;
	border: 1px solid #cccccc;
}
input:focus{
	outline: none;

}
.right-main{
	margin-top: 58px;
	padding-left: 40px;
	float:left;
}
.category li{
   float:left;
   margin: 10px 15px 5px 0;

}
.category li a{
	padding: 5px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 14px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
}
.list{
	float:left;
	margin-top: 15px;
}
.item{
	width:600px;
	margin: 23px 0px;
    height: 70px;
    border-bottom: 1px dashed #d9d9d9;
}
.item a{
	color:#555555;
	font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}

.info li{ 
	float:left;
	margin:8px 8px 8px 0px;
	font-size:12px;
	color:#717171;
}
.active{
	background-color: #6bd95b;
	color:#fff;
}
/*.aside{
    margin-top: 60px;
    padding:40px 0 20px 0;
}*/